/* Chris de Leon & Benjamin Filipenko */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
}

/* navbar styles */

.navbar {
    display: flex;
    height: 10vh;
    margin: 0;
    transition: 0.3s ease;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
}

.navbarItem {
    list-style-type: none;

}

.navbarLink {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.navbarLink:hover {
    text-decoration: underline;
    color: black;

}

/* end navbar styles*/

/* start landing page styles */

.viewportOne {
    background: url('images/landingPageDog.jpeg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    color: white;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.titleContainer {
    margin-top: 25vh;
    width: 35%;
    margin-left: 8vw;
}

.title {
    font-weight: 100;
    font-size: 3em;
}

.subtitle {
    font-weight: 100;
}

.adoptButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.adoptButton {
    padding: 14px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.adoptButton:hover {
    background-color: white;
    color: black;
}

/* BEGIN VIEWPORT TWO */

.homeViewportTwo {
    background: url('images/home.jpg') center center no-repeat;
    background-size: cover;
    height: 900px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    color: white;

}

.homeViewportTwoTitle {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

.homeCardContainer {
    height: 80vh;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25%;
    column-gap: 15px;
    row-gap: 15px;

}

.homeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.homeImageCard {
    
    width: 200px;
    height: 250px;
    border-radius: 5px;
    
    

    
}

/* this media query accounts for abnormally oversized images*/
@media only screen and (min-width: 1440px) {
    .homeImageCard {
        max-width: 50%;
    }
  }

.homeCardLabel {
    font-weight: 100;
    font-size: 1.5em;
}

.imageLink {
    margin: 0 auto;
    text-align: center;
    transition: 0.3s ease;
}

.imageLink:hover {
    opacity: 0.8;
}

/* END VIEWPORT TWO*/

/* BEGIN VIEWPORT THREE */

.homeViewportThree {
    background: url('images/ViewportThree.jpg') center center no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    color: white;
}

.homeViewportThreeTitle {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

.thirdViewportContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2em;
    font-size: 1.25em;
}

.thirdViewCards {
    width: 50%;
}

.small {
    max-width: 60%;
    border-radius: 10px;
}

.learnMoreButton {
    text-align: center;
    text-decoration: none;
    color: white;
}

.learnMoreButton p {
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    background-color: black;
}

/* END VIEWPORT THREE */

/* footer CSS*/

footer {
    height: 25vh;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}

.footerContainer li{
    list-style-type: none;
    margin-top: 15px;
}

.footerContainer li a{
    color: black;
    text-decoration: none;
}

.footerContainer li a:hover{
    text-decoration: underline;
}