/* Chris de Leon & Benjamin Filipenko */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat';
}

/* navbar styles */

.navbar {
    display: flex;
    height: 10vh;
    margin: 0;
    transition: 0.3s ease;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
}

.navbarItem {
    list-style-type: none;

}

.navbarLink {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.navbarLink:hover {
    text-decoration: underline;
    color: black;

}

/* end navbar styles*/

/* start landing page styles */

.viewportOne {
    background: url('images/landingPageDog.jpeg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0;
    color: white;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.titleContainer {
    margin-top: 25vh;
    width: 35%;
    margin-left: 8vw;
}

.title {
    font-weight: 100;
    font-size: 3em;
}

.subtitle {
    font-weight: 100;
}

.adoptButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.adoptButton {
    padding: 14px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.adoptButton:hover {
    background-color: white;
    color: black;
}


/* footer CSS*/

footer {
    height: 25vh;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
}

.footerContainer li{
    list-style-type: none;
    margin-top: 15px;
}

.footerContainer li a{
    color: black;
    text-decoration: none;
}

.footerContainer li a:hover{
    text-decoration: underline;
}